<section class="tab {{tabs.attributes.id}} {{tabs.attributes.cssClass}}" data-tab="{{tabs.attributes.id}}"
    data-group="{{tabs.attributes.group}}">
    {{! Abilities }}
    <div class="framed-section flexrow abilities">
        <h2>{{abilities.field.label}}</h2>
        {{#each abilities.values as |ability|}}
            <div class="item flexcol flex0 {{@key}}">
                <h3 class="flexrow">
                    {{localize ability.field.options.abbreviation}}
                </h3>
                <span class="data value large {{#unless @root.editMode}}clickable{{/unless}}"
                    style="--background-image: url({{ability.fgPath}})">
                    {{#if @root.editMode}}
                        {{formInput
                            ability.base.field
                            value=ability.base.value
                        }}
                    {{else}}
                        {{~#if ability.max.positive}}
                            +
                        {{~/if}}
                        {{~ability.max.value}}
                    {{/if}}
                </span>

            </div>
        {{/each}}
    </div>

    <div class="derived flexrow">
        <div class="main flexcol">
            {{! Attacks }}
            <div class="framed-section flexrow attacks">
                <h2>{{attacks.field.label}}</h2>
                {{#each attacks.values as |attack|}}
                    <div class="item flexcol flex0 {{@key}}">
                        <h3 class="flexrow">
                            {{attack.field.label}}
                        </h3>
                        <span class="data value large {{#unless @root.editMode}}clickable{{/unless}}"
                            style="--background-image: url({{attack.fgPath}})">
                            {{#if @root.editMode}}
                                {{formInput
                                    attack.base.field
                                    value=attack.base.value
                                }}
                            {{else}}
                                {{~#if attack.max.positive}}
                                    +
                                {{~/if}}
                                {{~attack.max.value}}
                            {{/if}}
                        </span>
                    </div>
                {{/each}}
            </div>

            <div class="framed-section flexrow defense">
                <h2>defense</h3>
                    defense
            </div>

            <div class="row flexrow">
                {{! Initiative }}
                <div class="framed-section flexrow initiative">
                    <div class="item flexcol flex0">
                        <span class="data value mini">
                            {{#if @root.editMode}}
                                {{formInput
                                    attributes.initiative.base.field
                                    value=attributes.initiative.base.value
                                }}
                            {{else}}
                                {{~#if attributes.initiative.max.positive}}
                                    +
                                {{~/if}}
                                {{~attributes.initiative.max.value}}
                            {{/if}}
                        </span>
                        <h3 class="flexrow">
                            {{localize attributes.initiative.field.options.abbreviation}}
                        </h3>
                    </div>
                </div>

                <div class="framed-section flexrow wounds">
                    <h2>wounds</h3>
                        wounds
                </div>
            </div>
        </div>
        <div class="secondary flexcol">
            <div class="framed-section flexrow defense">
                <h2>defense</h3>
                    defense
            </div>
        </div>
    </div>
</section>
