<section class="tab {{tabGroups.sheet.attributes.id}} {{tabGroups.sheet.attributes.cssClass}}"
    data-tab="{{tabGroups.sheet.attributes.id}}" data-group="{{tabGroups.sheet.attributes.group}}">
    {{! Abilities }}
    <div class="framed-section flexrow abilities">
        <h2>{{abilities.field.label}}</h2>
        {{#each abilities.values as |ability|}}
            <div class="item flexcol flex0 {{@key}}">
                <h3 class="flexrow">
                    {{localize ability.field.options.abbreviation}}
                </h3>
                <span class="data value large {{#unless @root.editMode}}clickable{{/unless}}"
                    style="--background-image: url({{ability.fgPath}})">
                    {{#if @root.editMode}}
                        {{formInput
                            ability.base.field
                            value=ability.base.value
                        }}
                    {{else}}
                        {{signedString ability.max.value}}
                    {{/if}}
                </span>

            </div>
        {{/each}}
    </div>

    <div class="derived flexrow">
        <div class="main flexcol">
            {{! Attacks }}
            <div class="framed-section flexrow attacks">
                <h2>{{attacks.field.label}}</h2>
                {{#each attacks.values as |attack|}}
                    <div class="item flexcol flex0 {{@key}}">
                        <h3 class="flexrow">
                            {{attack.field.label}}
                        </h3>
                        <span class="data value large {{#unless @root.editMode}}clickable{{/unless}}"
                            style="--background-image: url({{attack.fgPath}})">
                            {{#if @root.editMode}}
                                {{formInput
                                    attack.base.field
                                    value=attack.base.value
                                }}
                            {{else}}
                                {{signedString attack.max.value}}
                            {{/if}}
                        </span>
                    </div>
                {{/each}}
            </div>

            {{! Defenses }}
            <div class="framed-section flexrow defenses basic">
                <h2>{{defenses.field.label}}</h2>
                {{! Physical }}
                <div class="item flexcol flex0">
                    <span class="data value large">
                        {{#if @root.editMode}}
                            {{formInput
                                defenses.protection.physical.base.field
                                value=defenses.protection.physical.base.value
                            }}
                        {{else}}
                            {{defenses.protection.physical.max.value}}
                        {{/if}}
                    </span>
                    <h3 class=" flexrow">
                        {{defenses.protection.physical.field.label}}
                    </h3>
                </div>

                {{! Psy }}
                <div class="item flexcol flex0">
                    <span class="data value large">
                        {{#if @root.editMode}}
                            {{formInput
                                defenses.protection.psy.base.field
                                value=defenses.protection.psy.base.value
                            }}
                        {{else}}
                            {{defenses.protection.psy.max.value}}
                        {{/if}}
                    </span>
                    <h3 class=" flexrow">
                        {{defenses.protection.psy.field.label}}
                    </h3>
                </div>

                {{! Reduction }}
                <div class="item flexcol flex0">
                    <span class="data value large">
                        {{#if @root.editMode}}
                            {{formInput
                                defenses.reduction.base.field
                                value=defenses.reduction.base.value
                            }}
                        {{else}}
                            {{defenses.reduction.max.value}}
                        {{/if}}
                    </span>
                    <h3 class=" flexrow">
                        {{defenses.reduction.field.label}}
                    </h3>
                </div>
            </div>

            <div class="row flexrow">
                {{! Initiative }}
                <div class="framed-section flexrow initiative">
                    <div class="item flexcol flex0">
                        <span class="data value mini">
                            {{#if @root.editMode}}
                                {{formInput
                                    attributes.initiative.base.field
                                    value=attributes.initiative.base.value
                                }}
                            {{else}}
                                {{signedString attributes.initiative.max.value}}
                            {{/if}}
                        </span>
                        <h3 class="flexrow">
                            {{localize attributes.initiative.field.options.abbreviation}}
                        </h3>
                    </div>
                </div>

                {{! Wounds }}
                <div class="framed-section flexrow wounds">
                    <h2>{{attributes.wounds.field.label}}</h2>
                    <div class="item flexcol flex0">
                        <span class="data value mini">
                            {{#if @root.editMode}}
                                {{formInput
                                    attributes.wounds.threshold.base.field
                                    value=attributes.wounds.threshold.base.value
                                }}
                            {{else}}
                                {{~attributes.wounds.threshold.max.value}}
                            {{/if}}
                        </span>
                        <h3 class="flexrow">
                            {{attributes.wounds.threshold.field.label}}
                        </h3>
                    </div>

                    <div class="item flexcol flex0">
                        <div class="pips" data-prop="attributes.wounds.count">
                            {{#each attributes.wounds.count.pips}}
                                <span class="pip {{~#if filled}} filled{{/if}}" data-n="{{n}}"
                                    data-tooltip="{{localize label count=n}}" data-tooltip-class="cog"
                                    data-tooltip-direction="UP"></span>
                            {{/each}}
                        </div>
                        <h3 class="flexrow">
                            {{attributes.wounds.count.field.label}}
                        </h3>
                    </div>
                </div>
            </div>
        </div>

        <div class="secondary flexcol">
            <div class="framed-section flexrow equipment">
                <h2>attaques</h2>
                attaques
            </div>

            <div class="framed-section flexrow features">
                <h2>features</h2>
                features
            </div>
        </div>
    </div>
</section>