<section class="sheet-header flexcol">
    <header class="flexrow">
        {{! NPC Name }}
        <h1 class="actor-name">
            {{#if editMode}}
                {{formInput
                    name.field
                    value=name.value
                }}
            {{else}}
                {{name.value}}
            {{/if}}
        </h1>

        {{! NPC CR }}
        <div class="level flexrow flex0">
            <span class="label">{{advancement.cr.field.label}}</span>
            {{#if editMode}}
                <span data-tooltip="{{advancement.cr.field.hint}}" data-tooltip-class="cog">
                    {{formInput
                        advancement.cr.field
                        value=advancement.cr.value
                    }}
                </span>
            {{else}}
                <span class="value">{{advancement.cr.value}}</span>
                /
            {{/if}}
        </div>

        {{! NPC Size }}
        <div class="size flexrow flex0" data-tooltip="{{attributes.size.field.label}}" data-tooltip-class="cog">
            {{#if editMode}}
                {{formInput
                    attributes.size.field
                    value=attributes.size.value
                }}
            {{else}}
                <span class="value">{{lookup attributes.size.field.choices attributes.size.value}}</span>
            {{/if}}
        </div>
    </header>

    {{! NPC Traits }}
    <div class="subtitle flexrow">
        <a class="standard-button highlighted"><i class="fa-solid fa-octagon-plus"></i></i></i> Espèce</a>
        <a class="standard-button"><i class="fa-solid fa-id-card-clip"></i> Archétype</a>
        <a class="standard-button"><i class="fa-regular fa-microchip"></i> Expertise</a>
        <a class="standard-button"><i class="fa-regular fa-microchip"></i> Rôle</a>
        <a class="standard-button"><i class="fa-regular fa-microchip"></i> Trait</a>
    </div>
</section>
