<section class="sheet-header flexcol">
    <header class="flexrow">

        {{! PC Name }}
        <h1 class="actor-name">
            {{#if editMode}}
                {{formInput
                    fields.name
                    value=actor.name
                }}
            {{else}}
                {{actor.name}}
            {{/if}}
        </h1>

        {{! Incomplete Level }}
        {{#if creationSteps.incomplete}}
            <span class="incomplete cog-button flex0" data-tooltip="{{creationSteps.details}}"
                data-tooltip-class="cog creation-steps">
                <i class="fa-solid fa-triangle-exclamation"></i>
            </span>
        {{/if}}

        {{! PC Level }}
        <div class="level flexrow flex0">
            <span class="label">{{ADVANCEMENT.level.value_label}}</span>
            {{#if editMode}}
                {{formInput
                    systemFields.ADVANCEMENT.fields.level.fields.value
                    value=ADVANCEMENT.level.value
                    type="number"
                }}
            {{else}}
                <span class="value">{{ADVANCEMENT.level.value}}</span>
            {{/if}}
        </div>
    </header>

    {{! PC Traits }}
    <div class="subtitle flexrow">
        <a class="cog-button highlighted"><i class="fa-solid fa-octagon-plus"></i></i></i> Espèce</a>
        <a class="cog-button"><i class="fa-solid fa-id-card-clip"></i> Profil</a>
        <a class="cog-button"><i class="fa-regular fa-microchip"></i> Trait</a>
    </div>
</section>
