<section class="sheet-header flexcol">
    <header class="flexrow">
        {{! NPC Name }}
        <h1 class="actor-name">
            {{#if editMode}}
                {{formInput
                    fields.name
                    value=actor.name
                }}
            {{else}}
                {{actor.name}}
            {{/if}}
        </h1>

        {{! NPC CR }}
        <div class="level flexrow flex0">
            <span class="label">{{ADVANCEMENT.cr.label}}</span>
            {{#if editMode}}
                <span data-tooltip="{{ADVANCEMENT.cr.value_hint}}" data-tooltip-class="cog">
                    {{formInput
                        systemFields.ADVANCEMENT.fields.cr.fields.value
                        value=ADVANCEMENT.cr.value
                    }}
                </span>
            {{else}}
                <span class="value">{{ADVANCEMENT.cr.value}}</span>
                /
            {{/if}}
        </div>

        {{! NPC Size }}
        <div class="size flexrow flex0" data-tooltip="{{ATTRIBUTES.size.label}}" data-tooltip-class="cog">
            {{#if editMode}}
                {{formInput
                    systemFields.ATTRIBUTES.fields.size.fields.value
                    value=ATTRIBUTES.size.value
                }}
            {{else}}
                <span class="value">{{lookup ATTRIBUTES.size.value_choices ATTRIBUTES.size.value}}</span>
            {{/if}}
        </div>
    </header>

    {{! NPC Traits }}
    <div class="subtitle flexrow">
        <a class="standard-button highlighted"><i class="fa-solid fa-octagon-plus"></i></i></i> Espèce</a>
        <a class="standard-button"><i class="fa-solid fa-id-card-clip"></i> Archétype</a>
        <a class="standard-button"><i class="fa-regular fa-microchip"></i> Expertise</a>
        <a class="standard-button"><i class="fa-regular fa-microchip"></i> Rôle</a>
        <a class="standard-button"><i class="fa-regular fa-microchip"></i> Trait</a>
    </div>
</section>
