<section class="sheet-sidebar flexcol">
    {{! Profile Image }}
    <img class="profile framed-section" src="{{actor.img}}" alt="{{actor.name}}" width="200" height="200" {{#if
        editMode}} data-action="editImage" data-edit="img" {{/if}} />

    {{! Health Pool }}
    <div class="health flexrow">
        <img src="{{HEALTH.fgPath}}" class="foreground {{actor.type}}" />

        {{! Hit Die }}
        {{#if actor.hasHitDie}}
            <div class="hit-die flexrow">
                {{#if editMode}}
                    <i class="fas fa-cog edit-button" data-action="configure" data-configure-profile="hitDice"
                        data-tooltip="{{localize 'SHEET.ACTOR.LABELS.Configure_hit_die'}}" data-tooltip-class="cog"
                        data-tooltip-direction="UP"></i>
                {{else}}
                    <div class="dice-icon" style="mask-image: url({{HIT_DIE.type.icon}})"
                        data-tooltip="{{HIT_DIE.type.value_label}}" data-tooltip-class="cog"
                        data-tooltip-direction="UP">
                    </div>
                {{/if}}
            </div>
        {{/if}}

        {{! Hit Points }}
        <div class="hit-points flexrow" style="{{HEALTH.hitPoints.cssPct}} {{HEALTH.tempDmgs.cssPct}}">
            <div class="label flexrow" data-tooltip="{{HEALTH.hitPoints.value_label}}" data-tooltip-class="cog">
                <span class="value flex0">{{HEALTH.hitPoints.value}}</span>
                <span class="separator flex0">/</span>
                <span class="max flex0">{{HEALTH.hitPoints.max}}</span>
            </div>
            <div class="field flexrow hidden">
                {{formInput
                    systemFields.HEALTH.fields.hitPoints.fields.value
                    value=HEALTH.hitPoints.value
                }}
            </div>
            {{#if editMode}}
                <i class="fas fa-cog edit-button" data-action="configure" data-configure-profile="hitPoints"
                    data-tooltip="{{localize 'SHEET.ACTOR.LABELS.Configure_hit_points'}}" data-tooltip-class="cog"
                    data-tooltip-direction="UP"></i>
            {{/if}}
        </div>

        {{! Temp damages }}
        <div class="tmp-dmgs flexrow flex0">
            <span data-tooltip="{{HEALTH.tempDmgs.value_label}}" data-tooltip-class="cog">
                {{formInput
                    systemFields.HEALTH.fields.tempDmgs.fields.value
                    value=HEALTH.tempDmgs.value
                    placeholder=HEALTH.tempDmgs.value_abbreviation
                }}
            </span>
        </div>
    </div>

    {{! Favorite Actions }}
    <h2 class="divider">{{localize "SHEET.ACTOR.LABELS.Favorite_actions"}}</h2>

</section>
