<div class="line-item flexrow {{~#unless item}} unknown{{/unless}} {{~#if item.error}} error{{/if}}">
    {{! Label }}
    {{#if label}}
        <span class="label flexrow flex0 nowrap">
            <label class="nowrap">{{label}}</label>
        </span>
    {{/if}}

    {{#if item}}
        {{! Item details }}
        <a class="details flexrow flex0" data-uuid="{{item.uuid}}" data-link>
            <img class="icon" src="{{item.img}}" alt="{{item.name}}">
            <span class="flexrow name nowrap">
                {{item.name}}
                {{#if item.error}}<i class="incomplete fa-solid fa-triangle-exclamation"></i>{{/if}}
            </span>
        </a>
    {{else}}
        {{! No item Data }}
        <a class="details flexrow flex0">
            <i class="icon fas fa-unlink"></i>
            <span class="name nowrap">{{localize "Unknown"}}</span>
        </a>
    {{/if}}

    {{! Action }}
    {{#if action}}
        <span class="action flexrow flex0 nowrap" data-action="{{action}}" {{~#if actionKey}} data-key="{{actionKey}}"
            {{/if}} data-tooltip="{{~#if actionTooltip}}{{actionTooltip}}{{else}}Delete{{/if}}" data-tooltip-class="cog"
            data-tooltip-direction="UP">
            {{#if actionLabel}}
                {{actionLabel}}
            {{else}}
                <i class="fa-solid fa-xmark"></i>
            {{/if}}
        </span>
    {{/if}}
</div>
