<section class="tab sheet-body flexcol {{tabGroups.sheet.config.cssClass}}" data-tab="{{tabGroups.sheet.config.id}}"
    data-group="{{tabGroups.sheet.config.group}}">
    {{! Secondary Tabs Nav }}
    {{> "cog.item-nav" tabs=tabGroups.archetype }}

    {{! Archetype mode }}
    <section class="tab flexcol {{tabGroups.archetype.config.cssClass}}" data-tab="{{tabGroups.archetype.config.id}}"
        data-group="{{tabGroups.archetype.config.group}}">
        <fieldset>
            <legend>{{localize "COG.ARCHETYPE.LABELS.Archetype_mode"}}</legend>
            {{formGroup
                mode.field
                value=mode.value
            }}
        </fieldset>
    </section>

    {{! Archetype paths }}
    <section class="tab flexrow paths {{tabGroups.archetype.paths.cssClass}}"
        data-tab="{{tabGroups.archetype.paths.id}}" data-group="{{tabGroups.archetype.paths.group}}">
        {{#each paths as |path|}}
            <fieldset class="drop-zone" data-key="{{@key}}">
                <legend>
                    {{localize path.value.field.label}}
                    {{#if path.rank}}
                        {{#unless path.value.itemData}}
                            <i class="fa-solid fa-triangle-exclamation"></i>
                        {{/unless}}
                    {{/if}}
                    {{#if path.value.itemData.error}}
                        <i class="fa-solid fa-triangle-exclamation"></i>
                    {{/if}}
                </legend>


                {{#if path.value.value}}
                    <div class="form-group stacked">
                        <label>{{localize "COG.ARCHETYPE.LABELS.Selected_path"}}</label>
                        <div class="flexcol form-fields">
                            {{> "cog.item-line"
                                item=path.value.itemData
                                action="removePath"
                                actionKey=@key
                            }}
                        </div>
                    </div>
                {{else}}
                    <span class="mini instruction droppable">{{localize "COG.ARCHETYPE.LABELS.Add_path"}}</span>
                {{/if}}

                {{#if path.rank}}
                    {{formGroup
                        path.rank.field
                        value=path.rank.value
                        stacked=true
                        disabled=path.path.itemData
                        localize=true
                    }}
                {{else}}
                    <div class="form-group stacked">
                        <label>{{localize "COG.ARCHETYPE.FIELDS.paths.[path].rank.label"}}</label>
                        <div class="form-fields">
                            <range-picker value="0" min="0" max="2" step="1" disabled>
                                <input type="range" min="0" max="2" step="1">
                                <input type="number" min="0" max="2" step="1">
                            </range-picker>
                        </div>
                    </div>
                {{/if}}
            </fieldset>
        {{/each}}
    </section>
</section>
