<section class="tab sheet-body flexcol {{tabs.config.cssClass}}" data-tab="{{tabs.config.id}}"
    data-group="{{tabs.config.group}}">
    {{! Path configuration }}
    <fieldset>
        <legend>{{localize "COG.PATH.LABELS.Path_type"}}</legend>
        {{formGroup type.field value=type.value }}
    </fieldset>

    {{! Path configuration }}
    <fieldset>
        <legend>{{localize "COG.PATH.LABELS.Path_configuration"}}</legend>

        {{! Species configuration }}
        {{#if species}}
            <div class="form-group">
                <label>{{species.communicationMode.field.label}}</label>
                <div class="form-fields">
                    <textarea name="system.species.communicationMode">{{species.communicationMode.value}}</textarea>
                </div>
            </div>
            <div class="form-group">
                <label>{{species.technologyLevel.field.label}}</label>
                <div class="form-fields">
                    <textarea name="system.species.technologyLevel">{{species.technologyLevel.value}}</textarea>
                </div>
            </div>
            <div class="form-group">
                <label>{{species.culture.field.label}}</label>
                <div class="form-fields">
                    <textarea name="system.species.culture">{{species.culture.value}}</textarea>
                </div>
            </div>
            <div class="form-group">
                <label>{{species.politicalSystem.field.label}}</label>
                <div class="form-fields">
                    <textarea name="system.species.politicalSystem">{{species.politicalSystem.value}}</textarea>
                </div>
            </div>
            <div class="form-group">
                <label>{{species.gravity.field.label}}</label>
                <div class="form-fields">
                    <textarea name="system.species.gravity">{{species.gravity.value}}</textarea>
                </div>
            </div>
        {{/if}}

        {{! Cultural configuration }}
        {{#if cultural}}
            {{formGroup
                cultural.lifestyle.field
                value=cultural.lifestyle.value
            }}
            <div class="form-group">
                <label>{{cultural.equipement.field.label}}</label>
                <div class="form-fields">
                    <textarea name="system.cultural.equipement">{{cultural.equipement.value}}</textarea>
                </div>
            </div>
        {{/if}}

        {{! Expertise configuration }}
        {{#if expertise}}
            <div class="form-group">
                <label>{{expertise.equipement.field.label}}</label>
                <div class="form-fields">
                    <textarea name="system.expertise.equipement">{{expertise.equipement.value}}</textarea>
                </div>
            </div>
        {{/if}}
    </fieldset>

    {{! Path configuration }}
    <fieldset>
        <legend>
            {{localize "COG.PATH.LABELS.Features_configuration" count=features.count}}
            {{#unless features.complete}}<i class="incomplete fa-solid fa-triangle-exclamation"></i>{{/unless}}
        </legend>
        {{#unless features.complete}}
            <span class="instruction droppable">
                {{localize "COG.PATH.LABELS.Add_features"}}
            </span>
        {{/unless}}
        {{#if features.count}}
            <div class="features flexrow">
                {{#each features.values as |feature| }}
                    {{#if feature.value}}
                        {{> "cog.item-line"
                        item=feature.itemData
                        label=(localize feature.field.label rank=feature.field.name)
                        action="removeFeature"
                        actionKey=@key
                    }}
                    {{/if}}
                {{/each}}
            </div>
        {{/if}}
    </fieldset>
</section>
