<section class="tab sheet-body flexcol drop-zone {{tabGroups.sheet.config.cssClass}}"
    data-tab="{{tabGroups.sheet.config.id}}" data-group="{{tabGroups.sheet.config.group}}">
    {{! Path configuration }}
    <fieldset>
        <legend>{{localize "COG.PATH.LABELS.Path_type"}}</legend>
        {{formGroup
            type.field
            value=type.value
        }}
        {{#if cultural}}
            {{formGroup
                cultural.lifestyle.field
                value=cultural.lifestyle.value
                localize=true
            }}
        {{/if}}
    </fieldset>


    {{! Features configuration }}
    <fieldset>
        <legend>
            {{localize "COG.PATH.LABELS.Features_configuration" count=features.count}}
            {{#if features.isInvalid}}
                <i class="incomplete fa-solid fa-triangle-exclamation"></i>
            {{/if}}
        </legend>
        <span class="instruction droppable">
            {{localize "COG.PATH.LABELS.Add_features"}}
        </span>
        {{#if features.count}}
            <div class="features flexrow">
                {{#each features.values as |feature| }}
                    {{#if feature.value}}
                        {{> "cog.item-line"
                        item=feature.itemData
                        label=itemData.label
                        action="removeFeature"
                        actionKey=@key
                    }}
                    {{/if}}
                {{/each}}
            </div>
        {{/if}}
    </fieldset>
</section>