<section class="tab sheet-body flexcol {{tabs.config.cssClass}}" data-tab="{{tabs.config.id}}"
    data-group="{{tabs.config.group}}">
    {{! Path configuration }}
    <fieldset>
        <legend>{{localize "COG.PATH.LABELS.Path_configuration"}}</legend>
        {{formGroup type.field value=type.value }}
    </fieldset>

    {{! Feature configuration }}
    <fieldset>
        <legend>{{localize "COG.PATH.LABELS.Feature_configuration"}}</legend>
    </fieldset>
</section>
