<section class="tab {{tabs.attributes.id}} {{tabs.attributes.cssClass}}" data-tab="{{tabs.attributes.id}}"
    data-group="{{tabs.attributes.group}}">
    {{! Abilities }}
    <div class="framed-section flexrow abilities">
        <h2>{{abilities.field.label}}</h2>
        {{#each abilities.values as |ability|}}
            <div class="ability flexcol flex0 {{@key}}">
                <h3 class="flexrow">
                    {{localize ability.field.options.abbreviation}}
                    {{#if @root.editMode}}
                        <i class="fas fa-cog icon-button" data-action="configure" data-configure-profile="ability"
                            data-ability="{{@key}}" data-tooltip="COG.ACTOR.LABELS.Configure_ability"
                            data-tooltip-class="cog" data-tooltip-direction="UP"></i>
                    {{/if}}
                </h3>
                <span class="clickable data value large hexa" style="background-image: url({{ability.fgPath}})">
                    {{~#if ability.max.positive}}
                        +
                    {{~/if}}
                    {{~ability.max.value}}
                </span>
            </div>
        {{/each}}
    </div>
</section>
