<section class="tab {{tabs.attributes.id}} {{tabs.attributes.cssClass}}" data-tab="{{tabs.attributes.id}}"
    data-group="{{tabs.attributes.group}}">
    {{! Abilities }}
    <div class="framed-section flexrow abilities">
        <h2>{{abilities.field.label}}</h2>
        {{#each abilities.values as |ability|}}
            <div class="item flexcol flex0 {{@key}}">
                <h3 class="flexrow">
                    {{localize ability.field.options.abbreviation}}
                    {{#if @root.editMode}}
                        <i class="fa-duotone fa-regular fa-gear icon-button" data-action="configure"
                            data-configure-profile="ability" data-key="{{@key}}"
                            data-tooltip="COG.ACTOR.LABELS.Configure_ability" data-tooltip-class="cog"
                            data-tooltip-direction="UP"></i>
                    {{/if}}
                </h3>
                <span class="clickable data value large" style="--background-image: url({{ability.fgPath}})">
                    {{signedString ability.max.value}}
                </span>
            </div>
        {{/each}}
    </div>

    <div class="derived flexrow">
        <div class="main flexcol">
            {{! Attacks }}
            <div class="framed-section flexrow attacks">
                <h2>{{attacks.field.label}}</h2>
                {{#each attacks.values as |attack|}}
                    <div class="item flexcol flex0 {{@key}}">
                        <h3 class="flexrow">
                            {{attack.field.label}}
                            {{#if @root.editMode}}
                                <i class="fa-duotone fa-regular fa-gear icon-button" data-action="configure"
                                    data-configure-profile="attack" data-key="{{@key}}"
                                    data-tooltip="COG.ACTOR.LABELS.Configure_attack" data-tooltip-class="cog"
                                    data-tooltip-direction="UP"></i>
                            {{/if}}
                        </h3>
                        <span class="clickable data value large" style="--background-image: url({{attack.fgPath}})">
                            {{signedString attack.max.value}}
                        </span>
                    </div>
                {{/each}}
            </div>

            <div class="row flexrow">
                {{! Ressources }}
                <div class="framed-section flexrow resources">
                    <h2>{{resources.field.label}}</h2>
                    {{! Luck }}
                    <div class="item flexcol flex0 luck">
                        <span class="editable data value large">
                            {{formInput
                                resources.luck.field
                                value=resources.luck.value
                            }}
                        </span>
                        <h3 class="flexrow">
                            {{resources.luck.field.label}}
                        </h3>
                    </div>

                    {{! Instability }}
                    <div class="item flexcol flex0 luck">
                        <span class="editable data value large">
                            {{formInput
                                resources.instability.field
                                value=resources.instability.value
                            }}
                        </span>
                        <h3 class="flexrow">
                            {{resources.instability.field.label}}
                        </h3>
                    </div>
                </div>

                {{! Initiative }}
                <div class="framed-section flexrow initiative">
                    <div class="item flexcol flex0">
                        <span class="data value large alt">
                            {{attributes.initiative.max.value}}
                        </span>
                        <h3 class="flexrow">
                            {{attributes.initiative.field.label}}
                            {{#if @root.editMode}}
                                <i class="fa-duotone fa-regular fa-gear icon-button" data-action="configure"
                                    data-configure-profile="initiative"
                                    data-tooltip="COG.ACTOR.LABELS.Configure_initiative" data-tooltip-class="cog"
                                    data-tooltip-direction="UP"></i>
                            {{/if}}
                        </h3>
                    </div>
                </div>
            </div>

            {{! Wounds }}
            <div class="framed-section flexrow wounds">
                <h2>{{attributes.wounds.field.label}}</h2>
                <div class="item flexcol flex0">
                    <span class="data value mini">
                        {{attributes.wounds.threshold.max.value}}
                    </span>
                    <h3 class="flexrow">
                        {{attributes.wounds.threshold.field.label}}
                        {{#if @root.editMode}}
                            <i class="fa-duotone fa-regular fa-gear icon-button" data-action="configure"
                                data-configure-profile="woundThreshold"
                                data-tooltip="COG.ACTOR.LABELS.Configure_wound_threshold" data-tooltip-class="cog"
                                data-tooltip-direction="UP"></i>
                        {{/if}}
                    </h3>
                </div>

                <div class="item flexcol flex0">
                    <div class="pips" data-prop="attributes.wounds.count">
                        {{#each attributes.wounds.count.pips}}
                            <span class="pip {{#if filled}}filled{{/if}}" data-n="{{n}}"
                                data-tooltip="{{localize label count=n}}" data-tooltip-class="cog"
                                data-tooltip-direction="UP"></span>
                        {{/each}}
                    </div>
                    <h3 class="flexrow">
                        {{attributes.wounds.count.field.label}}
                    </h3>
                </div>
            </div>
        </div>

        {{! Defenses }}
        <div class="secondary flexcol">
            <div class="framed-section flexcol defenses detailed">
                <h2>{{defenses.field.label}}</h2>
                {{#each defenses.values as |def|}}
                    <div class="item flexcol">
                        <h3 class="flexrow">
                            {{def.field.label}}
                            {{#if @root.editMode}}
                                <i class="fa-duotone fa-regular fa-gear icon-button" data-action="configure"
                                    data-configure-profile="defense" data-key="{{@key}}"
                                    data-tooltip="COG.ACTOR.LABELS.Configure_defense" data-tooltip-class="cog"
                                    data-tooltip-direction="UP"></i>
                            {{/if}}
                        </h3>
                        <div class="data chart diverging">
                            <span class="data value tiny {{#if def.protection.positive}}alt{{/if}}">
                                {{def.protection.max.value}}
                            </span>
                            <span class="primary {{ifThen def.protection.positive 'positive' 'negative'}}"
                                style="{{def.protection.cssPct}}"></span>
                            <span class="secondary {{ifThen def.reduction.positive 'positive' 'negative'}}"
                                style="{{def.reduction.cssPct}}"></span>
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>
    </div>
</section>
