<section class="sheet-header flexcol">
    <header class="flexrow">
        {{! PC Name }}
        {{> "cog.actor-name"}}

        {{! Incomplete Level }}
        {{#if levelUp.incomplete}}
            <span class="incomplete standard-button flex0" data-tooltip="{{levelUp.details}}"
                data-tooltip-class="cog creation-steps">
                <i class="fa-solid fa-triangle-exclamation"></i>
            </span>
        {{/if}}

        {{! PC Level }}
        <div class="level flexrow flex0 nowrap">
            <span class="label">{{advancement.level.field.label}}</span>
            {{#if editMode}}
                {{formInput
                    advancement.level.field
                    value=advancement.level.value
                    type="number"
                }}
            {{else}}
                <span class="value">{{advancement.level.value}}</span>
            {{/if}}
        </div>
    </header>

    {{! PC Traits }}
    <div class="subtitle flexrow">
        <a class="standard-button highlighted"><i class="fa-solid fa-octagon-plus"></i></i></i> Espèce</a>
        <a class="standard-button"><i class="fa-solid fa-id-card-clip"></i> Profil</a>
        <a class="standard-button"><i class="fa-regular fa-microchip"></i> Trait</a>
    </div>
</section>