<section class="sheet-sidebar flexcol">
    {{! Profile Image }}
    {{> "cog.actor-img"}}

    {{! Health Pool }}
    <div class="health flexrow" style="--foreground-image: url({{health.fgPath}})">
        {{! Hit Die }}
        <div class="hit-die flexrow">
            {{#if editMode}}
                <i class="fas fa-cog icon-button" data-action="configure" data-configure-profile="hitDie"
                    data-tooltip="COG.ACTOR.LABELS.Configure_hit_die" data-tooltip-class="cog"
                    data-tooltip-direction="UP"></i>
            {{else}}
                <div class="dice-icon" style="mask-image: url({{hitDie.type.icon}})"
                    data-tooltip="{{hitDie.type.field.label}}" data-tooltip-class="cog" data-tooltip-direction="UP">
                </div>
            {{/if}}
        </div>

        {{! Hit Points }}
        <div class="hit-points flexrow" style="{{health.hitPoints.cssPct}} {{health.tempDmgs.cssPct}}">
            <div class="label flexrow" data-tooltip="{{health.hitPoints.field.label}}" data-tooltip-class="cog">
                <span class="value flex0">{{health.hitPoints.value.value}}</span>
                <span class="separator flex0">/</span>
                <span class="max flex0">{{health.hitPoints.max.value}}</span>
            </div>
            <div class="field flexrow hidden">
                {{formInput
                    health.hitPoints.value.field
                    value=health.hitPoints.value.value
                }}
            </div>
            {{#if editMode}}
                <i class="fas fa-cog icon-button" data-action="configure" data-configure-profile="hitPoints"
                    data-tooltip="COG.ACTOR.LABELS.Configure_hit_points" data-tooltip-class="cog"
                    data-tooltip-direction="UP"></i>
            {{/if}}
        </div>

        {{! Temp damages }}
        {{> "cog.actor-temp-dmgs"}}
    </div>

    {{! Favorite Actions }}
    <h2 class="divider">{{localize "COG.ACTOR.LABELS.Favorite_actions"}}</h2>
</section>
